* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* color: snow; */
  color: black;
}
h1 {
  font-size: 42px;
}
a {
  text-decoration: none;
  font-size: 24px;
}
.navbar a {
  font-size: 20px;
}

.App-home {
  background-color: red;
}
.App-window {
  background-color: rgb(245, 245, 245);
  height: 100vh;
}
.App-home-body {
  background: linear-gradient(
      to bottom,
      transparent 20%,
      rgb(245, 245, 245) 100%
    ),
    url("/src/files/header.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 300px;
  text-align: center;
}

.loading {
  font-size: 84px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
  animation: pulse 5s infinite;
}
@keyframes pulse {
  0% {
    background-color: rgba(233, 243, 243, 0.5);
  }
  100% {
    background-color: rgba(92, 195, 182, 0.4);
  }
  
}

/* .compLoading {
  background-color: burlywood;
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.5;
}
@-webkit-keyframes compLoading {
  0% { 
      opacity: 0.5;
  }
  50% { 
      opacity: 1.0;
  }
  100% { 
      opacity: 0.5;
  }
} */
.form{
  display: flex;
  flex-direction: column;
}
.home-log-sign {
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  display: inline-block;
  border-radius: 2%;
  padding: 10px 10px 15px 10px;
  top: 150px;
}

.login-log-sign {
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 50px 50px 50px 50px;
  position: relative;
  border-radius: 2%;
  top: 150px;
}

.loginbutton{
  display: inline-block;
}

label {
  display: inline-block;
  width: 250px;
}

.body-route {
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  display: inline-block;
  top: 50px;
  border-radius: 2%;
}

.table {
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.1);
  height: 60px;
  width: 100%;
  /* position: relative; */
  text-align: center;
}
.navBar-link-box {
  margin-top: 20px;
  justify-content: space-around;
  display: flex;
  padding-top: 15px;
}
.App-link {
  color: rgba(255, 255, 255, 0.897);
  size: 30px;
  /* z-index: 1; */
}

.bienvenida-private {
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  display: inline-block;
  border-radius: 1%;
  padding: 10px 10px 10px 10px;
  top: 50px;
}

/* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
